# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

.metro-health-check*

/ios
/android
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
